<div class="topcolumn">
    <div class="logo"></div>

    <ul id="shortcut">
        {if isset($user->id) && $user->id==1}
            <li><a href="/root/modules/list" title="Modülleri Görüntüle"> <img
                            src="/assets/root/images/icon/shortcut/mac_pack/safariextz.png"
                            alt="home"/><strong>Modüller</strong>
                </a></li>
        {*<li><a href="/root/widgets/list"><img src="/assets/root/images/icon/shortcut/mac_pack/iTunes-ipsw.png"
                                              alt="widgets">
            <strong>Widget Yönetimi</strong>
        </a></li>*}
            <li><a href="/root/user/list" title="Kullanıcı Yönetimi"> <img
                            src="/assets/root/images/icon/shortcut/mac_pack/ToolbarPublicFolderIcon.png"
                            /><strong>Kullanıcılar</strong> </a></li>
            <li><a href="/root/medias/list" title="Ayarlar"> <img
                            src="/assets/root/images/icon/shortcut/mac_pack/SmartFolderIcon.png"
                            alt="setting"/><strong>Dosya Ayarları</strong></a></li>
            <li><a href="/root/settings/list" title="Ayarlar"> <img src="/assets/root/images/icon/shortcut/setting.png"
                                                                    alt="setting"/><strong>Ayarlar</strong></a></li>
        {else}
            <li><a href="/root/settings/list" title="Ayarlar"> <img src="/assets/root/images/icon/shortcut/setting.png"
                                                                    alt="setting"/><strong>Ayarlar</strong></a></li>
        {* <li><a href="#" title="Messages"> <img src="/assets/root/images/icon/shortcut/mail.png"
                                                alt="messages"/><strong>Mesajlar</strong></a>

             <div class="notification">0</div>
         </li>*}


        {/if}
    </ul>
    <div class="clear"></div>
</div>

{*<li class="limenu" ><a href="/root/widgets/list"><span class="ico gray shadow   encrypt"></span><b>Widget Yönetimi</b> </a></li>*}
{*<li class="limenu" ><a href="#"><span class="ico gray shadow stats_lines"></span><b>Görev Yönetimi</b> </a>*}
{*<ul>*}
{*<li><a href="/root/database/view" class="pop_box">Veritabanı Yönetimi</a></li>*}
{*<li><a href="root/jobs/list">Zamanlanmış Görevler</a></li>*}
{*</ul>*}
{*</li>*}
{*<li class="limenu" ><a href="/root/layouts/list"><span class="ico gray shadow  file"></span><b>Şablon Yönetimi</b></a></li>*}
{*<li class="limenu "><a href="/root/settings/list"><span class="ico gray shadow calendar"></span><b>Ayarlar </b></a></li>*}
{*<li class="limenu"><a href="/root/users/logout"><span class="ico gray  shadow paragraph_align_left"></span><b>Çıkış</b></a>*}
{*</li>*}