<div class="section">
    <div>
        <input type="hidden"
               name="{$params.name}"
               id="{$params.id}" class="{$params.class} validate[{$params.validate}]" value="{$params.selected}">
        <span class="f_help">{$params.help_text}</span>
    </div>
</div>

