<!-- full width -->
<div class="widget">
    <div class="header"><span><span class="ico gray home"></span> {t}Addmean | Hoşgeldiniz.{/t}</span>
    </div>
    <!-- End header -->
    <!-- Content -->
    <div class="content">
	<p>
	Sol menüyü kullanarak web sitenizi yönetebilirsiniz.
</p>
    </div>
    <!-- End content -->
</div>
<!-- End full width -->
