/** Tiny MCE Templates **/
.templates.layout1 {
  /**
    Eşit oranlı iki sütun
    */

  display: block;
  width: 100%;
}
.templates.layout1 .left_column {
  display: block;
  width: 48%;
  float: left;
  margin: 2px;
}
.templates.layout1 .right_column {
  display: block;
  width: 48%;
  float: left;
  margin: 2px;
}
.templates.layout2 {
  /**
    Çift sütun. Sağ sütun blok tarzı.
    */

  width: 980px;
}
.templates.layout2 .left_column {
  display: block;
  width: 800px;
  margin-right: 20px;
  float: left;
}
.templates.layout2 .right_column {
  display: block;
  width: 160px;
  float: left;
}
