/** Tiny MCE Templates **/
.templates{
  &.layout1{
    /**
    Eşit oranlı iki sütun
    */
    display: block;
    width: 100%;
    .left_column{
      display: block;
      width: 48%;
      float: left;
      margin: 2px;
    }
    .right_column{
      display: block;
      width: 48%;
      float: left;
      margin: 2px;
    }
  }
  &.layout2{
    /**
    Çift sütun. Sağ sütun blok tarzı.
    */
    width: 980px;
    .left_column{
      display: block;
      width:800px;
      margin-right: 20px;
      float: left;
    }
    .right_column{
      display:block;
      width: 160px;
      float: left;
    }
  }
}