@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700&subset=latin,latin-ext);
@import "editor_templates.css";

body {
    margin: 0;
    padding: 0;
    font-family: "Oxygen", Tahoma, Geneva, sans-serif;
    font-weight: normal;
    background-color: #fff;
}
